footer {
  background-color: #232323;
  .footer-container {
    padding: 112px 0 53px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      font-family: $josefin;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      letter-spacing: 3.36px;
      text-transform: uppercase;
      color: #FFFFFF;
    }
    h3 {
      padding-top: 12px;
      padding-bottom: 16px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      text-align: center;
      letter-spacing: 1.6px;
      color: #FFFFFF;
    }
    &_scmedia {
      // width: 15%;
      display: flex;
      justify-content: space-around;

      a {
        padding: 10px;
        
        &:not(:last-of-type) {
          margin-right: 15px;
        }
      }
    }
  }
}