body {
  font-family: $josefin;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1110px;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
  display: block;
}

.hero-section {
  background-image: url("../../assets/hero-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 820px;
  display: flex;
  justify-content: center;
  &_container {
    position: relative;
    margin: auto;
    width: 656px;
    text-align: center;
    div:last-of-type {
      a {
        color: white;
      }
      padding-top: 107px;
    }
    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      letter-spacing: 4.8px;
      color: white;
    }
    h2 {
      padding-top: 11px;
      padding-bottom: 48px;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      font-size: 22px;
      letter-spacing: 6.82px;
      color: white;
    }
    &__search-box {
      font-size: 20px;
      font-family: $josefin;
      padding: 20px;
      width: 100%;
      height: 63px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    button {
      img {
        position: relative;
        left: 20px;
        width: 22px;
        height: auto;
      }
    }
  }
  &_form {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 100%;
    :focus {
      outline: auto 1px rgba(0, 0, 0, 0.459);
      box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.246);
      transition: all 0.25s ease-in;
    }
    :hover {
      transition: 0.3s all;
    }
    ::placeholder {
      padding-left: 15%;
      text-indent: 10px;
      font-family: $josefin;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      letter-spacing: 2.8px;
      color: #999999;
    }
    button {
      margin-left: -156px;
      align-items: center;
      display: flex;
      justify-content: center;
      width: 153px;
      height: 56px;
      border: none;
      background-color: $blue;
      padding: 20px;
      img {
        position: relative;
        left: 20px;
        width: 22px;
        height: auto;
      }
      color: white;
      font-family: $aleo;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      letter-spacing: 1.4px;
    }
  }
}

// NAVBAR 

