//FEATURES SECTION

.features-section {
    background-image: url("../../assets/why-choose-us.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &_container {
      padding-bottom: 115px;
      display: flex;
      justify-content: space-between;
      &__box--left {
        width: 53%;
        margin-top: 211px;
        h1 {
          font-family: $aleo;
          color: white;
          font-style: normal;
          font-weight: normal;
          font-size: 36px;
        }
        p {
          padding-top: 50px;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 162%;
          letter-spacing: 1.6px;
          color: $paleWhite;
        }
        a {
          margin-top: 45px;
          width: 228px;
          height: 63px;
          background: $blue;
          font-family: $aleo;
          font-size: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          letter-spacing: 1.2px;
          text-transform: uppercase;
          color: #FFFFFF;
        }
        @include big-tablet {
          width: 100%;
        }
        @include small-tablet {
          width: 100%;
        }
        @include mobile {
          margin-top: 40px;
          width: 100%;
          text-align: center;
          a {
            margin: 30px auto 30px auto;
            width: 100%;
          }
        }
      }
      &__box--right {
        &_pictures {
          @include mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            img:last-of-type {
              padding-top: 30px;
            }
            img {
              width: 100%;
            }
          }
        }
        margin-top: 117px;
        display: flex;
        width: 42%;
        img:last-of-type {
          float:right;
        }
        @include big-tablet {
          width: 100%;
          display: flex;
          flex-direction: column;
          float: right;
          img:first-of-type {
            float: right;
          }
        }
        @include small-tablet {
          width: 100%;
          display: flex;
          flex-direction: column;
          float: right;
          img:first-of-type {
            float: right;
          }
        }
        @include mobile {
          margin-top: 20px;
          width: 100%;
        }
      }
      @include mobile {
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
      }
    }
  }
.places-section {
  background: $darkgrey;
  &__divs {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    h2 {
      font-family: $aleo;
      font-size: 36px;
      text-align: center;
      color: $paleWhite;
    }
    img {
      z-index: 2;
      object-fit: contain;
      width: 60px;
      height: auto;
    }
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        padding-top: 38px;
      }
    }
    @include mobile {
      padding-top: 20px;
      padding-bottom: 20px;
      display: flex;
      flex-direction: column;
      div:not(:first-of-type){
        padding-top: 50px;
      }
      h2 {
        font-size: 20px;
      }
    }
  }
  .svg-line {
    z-index: 3;
    width: calc(100% - 250px);
    position: absolute;
    text-align: center;
    bottom: 280px;
    left: 120px;
    z-index: 0;
    top: 25px;
    @include mobile {
      display: none;
    }
  }
  .circle {
    position: relative;
    bottom: 150px;
    z-index: 1;
    background-color: $darkgrey;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    @include mobile {
      display: none;
    }
  }
}

.pictures-section {
  & > div {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
  }

  &_first {
    background-image: url("../../assets/house.png");
  }
  &_second {
    background-image: url("../../assets/mountain.png");
    .section-box {
      position: relative;
      float: right;
    }
  }

  .section-box {
    @include small-tablet {
      width: 100%;
      text-align: center;
      margin: auto;
    }
    @include mobile {
      width: 100%;
      text-align: center;
      
    }
    position: relative;
    padding: 49px 38px 49px 30px;
    margin: 130px 0 100px;
    width: 50%;
    background: rgba(22, 22, 22, 0.808);

    &__button {
      font-family: $aleo;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 228px;
      height: 63px;
      text-transform: uppercase;
      color: white;
      letter-spacing: 1.2px;
      font-size: 16px;
      background: $blue;

      @include small-tablet {
        margin: auto;
      }
      @include mobile {
        margin: auto;
        width: 100%;
      }
    }

    h3 {
      font-size: 20px;
      font-weight: normal;
      letter-spacing: 1.5px;
      color: $paleWhite;
    }
    
    h2 {
      font-size: 20px;
      text-transform: uppercase;
      color: $paleWhite;
      padding-top: 28px;
    }

    p {
      font-size: 16px;
      color: $paleWhite;
      line-height: 162%;
      padding-top: 18px;
      padding-bottom: 46px;
    }
  }
}

// TOURIST REVIEW

.tourist_review-section {
  padding-bottom: 200px;
  background-image: url("../../assets/tourist-review_background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  h1 {
    padding: 128px 0 91px;
    font-family: $aleo;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
    text-transform: capitalize;
  }
  &__box {
    background: $darkgrey;
    display: flex;
    width: 100%;
    &-review{
      h2 {
        font-family: $josefin;
        font-size: 20px;
        text-transform: uppercase;
        color: #FEFEFE;
        padding-bottom: 12px;
        // padding-bottom: 91px;
      }
      blockquote {
        color: #FEFEFE;
        line-height: 150%;
        font-size: 16px;
        font-weight: 300;
        position: relative;
        display: table-cell;

        &:before {
          content: "\201C";
          display: inline;
          font-size: 80px;
          position: relative;
          left: -3px;
          top: 45px;
          color: $blue;
          width: auto;
          line-height: 20px;
          height: 20px;
        }
      }
      padding: 49px 25px 39px 62px;
      @include mobile {
        padding: 20px;
      }
    }
    @include small-tablet {
      display: flex;
      flex-direction: column;
      text-align: center;
      img {
        width: 60%;
      }
    }
    @include mobile {
        display: flex;
        flex-direction: column;
        text-align: center;
        img {
          width: 100%;
        } 
    }
  }
}