//FEATURES SECTION

.features-section {
    background-image: url("../../assets/why-choose-us.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 685px;
    &_container {
      margin-bottom: 115px;
      display: flex;
      justify-content: space-between;
      &__box--left {
        width: 53%;
        margin-top: 211px;
        h1 {
          font-family: $aleo;
          color: white;
          font-style: normal;
          font-weight: normal;
          font-size: 36px;
        }
        p {
          padding-top: 50px;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 162%;
          letter-spacing: 1.6px;
          color: $paleWhite;
        }
        a {
          margin-top: 45px;
          width: 228px;
          height: 63px;
          background: $blue;
          font-family: $aleo;
          font-size: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          letter-spacing: 1.2px;
          text-transform: uppercase;
          color: #FFFFFF;
        }
      }
      &__box--right {
        margin-top: 117px;
        display: flex;
        width: 42%;
        img:last-of-type {
          float:right;
        }
      }
    }
  }
.places-section {
  background: $darkgrey;
  height: 340px;
  &__divs {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    h2 {
      font-family: $aleo;
      font-size: 36px;
      text-align: center;
      color: $paleWhite;
    }
    img {
      z-index: 2;
      object-fit: contain;
      width: 60px;
      height: auto;
    }
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        padding-top: 38px;
      }
    }
  }
  .svg-line {
    z-index: 3;
    width: calc(100% - 250px);
    position: absolute;
    text-align: center;
    bottom: 280px;
    left: 120px;
    z-index: 0;
    top: 25px;
  }
  .circle {
    position: relative;
    bottom: 150px;
    z-index: 1;
    background-color: $darkgrey;
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
}

.pictures-section {
  &_first {
    display: flex;
    background-image: url("../../assets/house.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // height: 700px;
    &__box {
      position: relative;
      // right: 270px;
      // top: 70px;
      padding: 49px 38px 49px 30px;
      margin: 130px 0 100px;
      // width: 543px;
      // height: 374px;
      width: 50%;
      background: rgba(22, 22, 22, 0.808);
      h3 {
        font-size: 20px;
        font-weight: normal;
        letter-spacing: 1.5px;
        color: $paleWhite;
      }
      h2 {
        font-size: 20px;
        text-transform: uppercase;
        color: $paleWhite;
        padding-top: 28px;
      }
      p {
        font-size: 16px;
        color: $paleWhite;
        line-height: 162%;
        padding-top: 18px;
        padding-bottom: 46px;
      }
      &-button {
        font-family: $aleo;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 228px;
        height: 63px;
        text-transform: uppercase;
        color: white;
        letter-spacing: 1.2px;
        font-size: 16px;
        background: $blue;
      }
    }
  }
  &_second {
    display: flex;
    background-image: url("../../assets/mountain.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // height: 700px;
    &__box {
      position: relative;
      // left: 270px;
      // top: 70px;
      padding: 49px 38px 49px 30px;
      margin: 130px 0 100px;
      // width: 543px;
      // height: 374px;
      width: 50%;
      background: rgba(22, 22, 22, 0.808);
      float: right;
      h3 {
        font-size: 20px;
        font-weight: normal;
        letter-spacing: 1.5px;
        color: $paleWhite;
      }
      h2 {
        font-size: 20px;
        text-transform: uppercase;
        color: $paleWhite;
        padding-top: 28px;
      }
      p {
        font-size: 16px;
        color: $paleWhite;
        line-height: 162%;
        padding-top: 18px;
        padding-bottom: 46px;
      }
      &-button {
        font-family: $aleo;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 228px;
        height: 63px;
        text-transform: uppercase;
        color: white;
        letter-spacing: 1.2px;
        font-size: 16px;
        background: $blue;
      }
    }
  }
}

// TOURIST REVIEW

.tourist_review-section {
  background-image: url("../../assets/tourist-review_background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 731px;
  h1 {
    padding: 128px 0 91px;
    font-family: $aleo;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
    text-transform: capitalize;
  }
  &__box {
    background: $darkgrey;
    display: flex;
    width: 100%;
    &-review{
      h2 {
        font-family: $josefin;
        font-size: 20px;
        text-transform: uppercase;
        color: #FEFEFE;
        padding-bottom: 12px;
        // padding-bottom: 91px;
      }
      blockquote {
        color: #FEFEFE;
        line-height: 150%;
        font-size: 16px;
        font-weight: 300;
        position: relative;
        display: table-cell;

        &:before {
          content: "\201C";
          display: inline;
          font-size: 80px;
          position: relative;
          left: -3px;
          top: 45px;
          color: $blue;
          width: auto;
          line-height: 20px;
          height: 20px;
        }
      }
      padding: 49px 25px 39px 62px;
    }
  }
}